.projectHeading {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Poppins";
  color: #a46d02;
  width: 100%;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
.imgGridTemp {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
/* .imgGridTemp div { */
/* grid-auto-flow; */
/* } */
.projectCard:hover .project_cover {
  display: none;
}
