.slider_img {
  /* max-width: 100%; */
  max-height: 100%;
  width: auto;
  height: auto;
}
.slider_container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_heading {
  font-size: 4rem;
  color: #a46d02;
  font-weight: 800;
  font-family: "Roboto";
}
.blog_subheading {
  transform: translateY(40%);
}
.blog_subheading > div:nth-child(1) {
  color: whitesmoke;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center;
}
.blog_subheading > div:nth-child(2) {
  color: whitesmoke;
  font-family: "Poppins";
  font-size: 0.8rem;
  text-align: center;
  width: 80%;
  letter-spacing: 0;
  margin: 0 auto;
}
.blog_card:hover .blog_cover {
  display: none;
}

@media (max-width: 768px) {
  .blog_card {
    padding: "0rem 0.5rem 0 0.5rem";
    /* height: "30rem" !important; */
  }
  .blog_subheading {
    transform: translateY(0%) !important;
  }
  .blog_subheading > div:nth-child(1) {
    font-size: 1.4rem;
  }
  .swiperBlog {
    height: "30rem" !important;
  }
}
